
*{
	margin:0;
	padding:0;
}
body {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
	font-size: 20px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.btn1, .btn2, .btn3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 2px;
  transition: 0.4s;
  align-items: center;
}


.change .btn1 {
  align-items: center;
}


.change .btn2 {
  align-items: center;
}

.change .btn3 {
  align-items: center;
}
/* styling of menu webpage*/
ul{
	float: right;
	list-style-type: none;
	margin-top: -10px;
}


ul li{
	display:inline-block;
}
ul li a{
	font-size: 20px;
	text-decoration:none;
	color:white;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;

}
ul li a:hover{
	background-color:white;
	color:black;
}
ul li.active a{
	background-color: white;
	color:black;

}

.main{
	max-width: 1500px;
	margin: left;
}
a{
	font-size:40px;
	padding-left: 20px;
	color:antiquewhite;
}
h2{
	font-size:50px;
}
.title{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);

}
.title h3{
	color:white;
	font-size: 40px;
}
 p{
	color:pink;
	font-size: 30px;
	text-align: center;
	top: 55%;
}

.button{
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn{
	border:1px solid #fff;
	padding:10px 30px;
	color:white;
	font-size: 20px;
	text-decoration: none;

}
.btn:hover{
	background-color:white;
	color:purple;

}