*{
	margin-top: 0;
	padding: 0;
  box-sizing: border-box;
}
/*styling the body of page*/
body{
  width: 100%;
  background-color:grey;
  
}

/*header of cv page*/
/*below icon code are use from Codepen google website*/
.header {
  background-color: dimgrey;
   width: 100%;
  z-index: 3;
  margin: -5px;
  position: fixed;

}
/* header logo*/
.header .logo {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 35px;
  color: whitesmoke;
  padding: 10px 20px;
}
.header ul {
  background-color: skyblue;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;


}

.header li a {
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  display: block;
  padding: 20px 20px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}


/* menu of the page */

.header .menu {
  max-height: 0;
  transition: max-height .2s ease-out;
  clear :both;
}

/* icon of the menu */


.header .menu-icon {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: inline-block;
  float: right;
  padding: 28px 20px;

}
/*styling navicon*/
.header .menu-icon .navicon {
  background: black;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  display: block;
  height: 2px;
  
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  content: '';
  display: block;
  
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

/*button of menu*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/*media queries*/

@media (min-width: 750px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    max-height: none;
    clear: none;
    float: right;
    
  }
  .header .menu-icon {
    display: none;
  }
}
/*styling section of page*/
section div:first-child{
  background: palevioletred;
  padding:50px;
  float: left;
  width: 50%;
  margin-top: 7%;
}
h2{
  color: black;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  flex-direction: column;
  border-bottom: 2px solid;

}
h3{
  color: blue;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
h4{
  margin-bottom: 20px;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 17px;
}
li{
  font-size: 20px;
}
.percent{
  position: relative;
  width: 50%;
  height: 6px;
  background: black;
  margin-top: 5px;
  display: block;
}
/*styling section*/
section div:nth-child(2){
  padding: 57px;
  background: lightblue;
  float: left;
  margin-top: 7%;
  width: 50%;
}
menu{
  position: relative;
  font-size: 20px;
  padding: 20px;
}