*{
	margin:0;
	padding:0;

}
/*styling body of portfolio page*/
body{
	background-color:dimgrey;
}


/* header of home page */
/*below code of icon is use from Codepen website*/
.header {
  background-color: grey;
  width: 100%;
  z-index: 3;
  height: 70px;
  margin: -5px;
  position: fixed;
}
/*logo of page*/
.header .logo {
  display: block;  
  padding: 10px 20px;
  text-decoration: none;
  float: left;
  font-size: 40px;
  color: white;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: skyblue;
  overflow: hidden;
}

.header li a {
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  display: block;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}



/* menu of the page */

.header .menu {
  max-height: 0;
  clear: both;
  transition: max-height .2s ease-out;

}

/* menu icon  of page*/

.header .menu-icon {
  position: relative;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
}

.header .menu-icon .navicon {
  background:black;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

/* btn of menu*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* media queries*/

@media (min-width: 750px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 22px;
  }
  .header .menu {
    float: right;
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.headline{
	width: 100%;
	background:brown;
	position: fixed;
	height: 10%;

}
.topic a{
	color: black;
	font-size:45px;
}/*font size is given 45px and color is black*/

.text{
	text-align: center;
	font-size: 30px;
  top: 15%;
	left: 10%;
	right: 50%;
	position: absolute;
	color: white;
}/*position is absolute*/
image{
	display: inline-flex;
}/* display is inline flex*/
.size{
	width: 450px;
	height: 450px;
	margin-top: 300px;
	margin-left: 10px;
	padding: 35px;
}