*{
	margin:0;
	padding:0;

}
/*styling body of page*/ 
body{
	background-color: rgba(0,128,128,0.79);
  color: black;
	
}
/*header of sitereport page*/
/*below code of icon is use from Codepen website*/
.header {
  background-color:grey;
  width: 100%;
  z-index: 2;
  position: fixed;
}
/*logo of page*/
.header .logo {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 30px;
  
}

.header ul {
   list-style: none;
  overflow: hidden;
  background-color: skyblue;
  margin: 0;
  padding: 0;
 
}

.header li a {
  height: 20px;
  font-size: 20px;
  display: block;
  padding: 20px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}


/* page menu */

.header .menu {
  transition: max-height .2s ease-out;
  clear: both;
  max-height: 0;
}

/* icon of the page menu */

.header .menu-icon {
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  height: 5px;
  cursor: pointer;
  display: inline-block;
  
}
/*styling navicon*/
.header .menu-icon .navicon {
  background: black;
  transition: background .2s ease-out;
  width: 18px;
  display: block;
  height: 2px;
  position: relative;
  
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  content: '';
  display: block;
  height: 100%;
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

/* btn of menu */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 210px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*media queries*/

@media (min-width: 750px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    float: right;
    max-height: none;
    clear: none;
    
  }
  .header .menu-icon {
    display: none;
  }
}
section{
  padding: 70px;


}
.topic a{
	color: black;
	font-size: 40px;
}
h2{
	margin-left: 30%;
	margin-right: 30%;
	font-size: 35px;
}
p{
	font-size: 23px;

}/* font size and style is given*/
h3{
	font-size: 30px;

}
b{
	font-size: 25px;
}
br{
	font-size: 20px;
  position: initial;

}