*{
	margin:0;
	padding:0;

}
body{
	background-color:palevioletred;
	padding: 20px;
	margin-left: 5%;
	margin-right:5% ;


	
}
.topic a{
	color: black;
	font-size: 40px;
}
h1{
	float: right;
	list-style-type: none;
	margin-top:-50px;
	position: absolute;
	margin-left:50%
}


h1 li{
	display:inline-block;
}
h1 li a{
	font-size: 20px;
	text-decoration:none;
	color:white;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;

}
h1 li a:hover{
	background-color:white;
	color:black;
}
h1 li.active a{
	background-color: white;
	color:black;

}
h2{
	margin-left: 30%;
	margin-right: 30%;
	font-size: 35px;
}
p{
	font-size: 20px;
	font-style: var(Arial);

}
li{
	font-size: 30px;

}
b{
	font-size: 25px;
}
br{
	font-size: 20px;
	margin-right: 5%;

}