*{
	margin:0;
	padding:0;
	
}
/*styling body*/ 
body{
	background-image:url(contact.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

/* header of home page */

.header {
  background-color: grey;
  width: 100%;
  z-index: 3;
  margin-top: 1px;
  font-size: 20px;
  position: fixed;
}
/*logo of the page*/
.header .logo {
  display: block;
  float: left;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  text-decoration: none;
}
.header ul {
  background-color: skyblue;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: skyblue;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: floralwhite;
}



/* menu of the page */

.header .menu {
  max-height: 0;
  clear: both;
  transition: max-height .2s ease-out;
}

/* icon  of the page*/

.header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  display: inline-block;
  float: right;


}
/*styling navicon*/
.header .menu-icon .navicon {
  background: black;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  display: block;
  height: 2px;
  
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

/* menu btn of menu */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*media queries*/
@media (min-width: 750px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
     max-height: none;
     clear: none;
    float: right;
  }
  .header .menu-icon {
    display: none;
  }
}
/* Infrastructure of box*/

.content{
	text-align:center;
  width: 50%;
  padding: 90px;
  font-size: 20px;

}/*text is in center*/

.content b{
  color: pink;
}


h1{
  color: lightblue;
}/*color is lightblue of h1*/

/* form of webpage is given multi-line*/
.form {
	width:100%;
	margin:25px 0;
	text-align: left;
}
.top-form,.middle-form{
	width:50%;
  min-height: 20px;
  margin:10px 0;
 
}
.bottom{
	width:20%;
	min-height: 30px;	
}
.form input[type="text"],
.form textarea{
	padding: 15px 5px;
	width:100%;
	box-sizing: border-box;
	border:2px solid #7665;
	transition:0.2s ease;
}
.form b{
	margin-bottom: 5px;
	text-transform: capitalize;

}
.bottom-form textarea{
	height:700px;
}
.btn{
	background: #4ca1af;
	width:200px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color:purple;
	letter-spacing: 5px;

}


image{
	display: inline-flex;
}/* image display is inline-flex*/
.size{
	width: 150px;
	height: 250px;
	margin-top: 30px;
	margin-left: 50%;
}