*{
	margin:0;
	padding:0;
	user-select:none;
}
/*styling body*/ 
body{
	background-image:url(contact.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}
/*This is where menu start*/
@media screen and (max-width: 1500px){
.menu-toggler {
  width:40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
 position: fixed;
  top:10%;
  bottom: 0;
  right:10%;
  left: 90%;
  margin-top:40px;
}
.menu-toggler + label {
  background: burlywood;
  transition: transform 1s, 1s;
  position: absolute;
  display: block;
  top:-90%;
  bottom: 0;
  right: 0;
  left: 90%;
  margin: auto;
  width: 40px;
  height: 5px;  
  z-index: 1;
  border-radius: 2.5px;
}
/*Styling the bars of menu*/
.menu-toggler + label:before, .menu-toggler + label:after {
  background: floralwhite;
  transition: transform 1s,1s;
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 5px;
  display: block;
  z-index: 2;
  border-radius: 2px;
  
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}
.menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
  background: white;
}
.menu-item {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s;
  top: 0;
  bottom: 0;
  right: 0;
  left:80%;
  margin-top: 13%;
}


.menu-item a {
  background: black;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s;
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: floralwhite;
  
}
/*maintaining menu item*/
.menu-item:nth-child(1) a {
  transform: rotate(0deg);
}
 
.menu-item:nth-child(2) a {
  transform: rotate(-30deg);
}
 
.menu-item:nth-child(3) a {
  transform: rotate(-60deg);
}
 
.menu-item:nth-child(4) a {
  transform: rotate(-90deg);
}
 
.menu-item:nth-child(5) a {
  transform: rotate(-120deg);
}
 
.menu-item:nth-child(6) a {
  transform: rotate(-150deg);
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44px;
}
.menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  transform-origin: 50% 50%;
}/*Transfrom menu toggler*/ 
.menu-toggler:checked + label:before {
  transform: rotate(30deg);
}
.menu-toggler:checked + label:after {
  transform: rotate(-30deg);
}
 
.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(0deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(30deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(60deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(90deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  transform: rotate(120deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  transform: rotate(150deg) translateX(-90px);
}
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}
}/*media queries*/
/* Infrasrructure of box*/
.headline{
	width:50%;
	max-width: 600px;
	margin:100px ;
	box-sizing: border-box;
	color: pink;
}
.content{
	text-align:center;
}/*text is in center*/
.content h1{
	letter-spacing: 1px;
	font-size: 40px;
}

/* form of webpage is given multi-line*/
.form {
	width:100%;
	margin:25px 0;
	text-align: left;
}
.top-form,.middle-form{
	width:50%;
  min-height: 20px;
  margin:10px 0;
 
}
.bottom{
	width:20%;
	min-height: 30px;	
}
.form input[type="text"],
.form textarea{
	padding: 15px 5px;
	width:100%;
	box-sizing: border-box;
	border:2px solid #7665;
	transition:0.2s ease;
}
.form a{
	margin-bottom: 5px;
	text-transform: capitalize;

}
.bottom-form textarea{
	height:700px;
}
.btn{
	background: #4ca1af;
	width:200px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color:purple;
	letter-spacing: 5px;

}


image{
	display: inline-flex;
}
.size{
	width: 150px;
	height: 250px;
	margin-top: 30px;
	margin-left: 50%;
}